fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.12
spleeter==2.1.0
tensorflow==2.3.0
protobuf<=3.20.0
pydantic==2.9.2
pydantic-settings==2.5.2
typing_extensions>=4.6.0
loguru==0.7.2
halo==0.0.31
aiofiles==24.1.0

